@using LogicaAplicacion.DataTransferObjects.Models.Articulos
@model LogicaAplicacion.DataTransferObjects.Models.Pedidos.LineaPedidoDTO

@{
    ViewData["Title"] = "Agregar Lineas";
}

<h1>Pedidos</h1>
<div class="row">
    <div class="col-8"><h4>Agregar lineas al pedido</h4></div>
    <div class="col-4 action-buttons d-flex justify-content-end">
        <a asp-action="Create">Continuar con el envio</a>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLines">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ArticuloId" class="control-label"></label>
                <select name="articuloId" class="form-control">
                    <option value="0">Seleccione el producto</option>
                    @foreach (ArticulosListadoDTO articulo in ViewBag.Articulos)
                    {
                        <option value="@articulo.Id">@articulo.Nombre (@articulo.Codigo)</option>
                    }
                </select>
                <span asp-validation-for="ArticuloId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="PedidoId" class="control-label"></label>
            <input asp-for="PedidoId" class="form-control" />
            <span asp-validation-for="PedidoId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="CantidadArticulo" class="control-label"></label>
                <input asp-for="CantidadArticulo" class="form-control" />
                <span asp-validation-for="CantidadArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" id="precio_unitario" disabled />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Agregar articulo(s)" class="btn btn-success" />
                <a asp-action="BorrarLineas" class="btn btn-danger">Borrar articulo(s)</a>
            </div>
        </form>
        <div>
            <br />
            <div class="action-buttons">
                <a asp-action="Index">Volver a Pedidios</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        @if (ViewBag.LineasAgregadas != null && ViewBag.LineasAgregadas.Count > 0)
        {
            @foreach (var linea in ViewBag.LineasAgregadas)
            {
                <p class="fw-bold">@linea.Articulo.Nombre.NombreArticuloValor</p>
                <p>$@linea.PrecioUnitario x @linea.CantidadArticulo</p>
            }
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
