@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using LogicaAplicacion.DataTransferObjects.Models.Pedidos
@using LogicaAplicacion.DataTransferObjects.Models.Clientes
@using LogicaNegocio.Enumerados
@model LogicaAplicacion.DataTransferObjects.Models.Pedidos.PedidoDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h2>Pedidos</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaEntregado" class="control-label"></label>
                <input asp-for="FechaEntregado" class="form-control" />
                <span asp-validation-for="FechaEntregado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select name="ClienteId" class="form-control">
                    <option value="0">Seleccione el cliente</option>
                    @foreach (ClienteDTO cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.Id">@cliente.RazonSocial- $@cliente.Rut </option>
                    }
                </select>
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreado" class="control-label"></label>
                <input asp-for="FechaCreado" class="form-control" value="@DateTime.Now" disabled/>
                <span asp-validation-for="FechaCreado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPrometida" class="control-label"></label>
                <input asp-for="FechaPrometida" class="form-control" value="@DateTime.Now.AddDays(5)" disabled/>
                <span asp-validation-for="FechaPrometida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" disabled/>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IVAAplicado" class="control-label"></label>
                <input asp-for="IVAAplicado" class="form-control" disabled/>
                <span asp-validation-for="IVAAplicado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" value="@EEstado.NUEVO" disabled/>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Finalizar Pedido" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <h3>Lineas del pedido</h3>
            @if (ViewBag.Lineas != null && ViewBag.Lineas.Count > 0)
            {
                @foreach (LineaPedidoDTO linea in ViewBag.Lineas)
                {
                    <p><b>-> @linea.Articulo.Nombre.NombreArticuloValor</b>  @linea.CantidadArticulo x @linea.PrecioUnitario</p>
                }
            }
        </div>
    </div>
</div>

<div class="action-buttons">
    <a asp-action="AddLines">Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
